<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <div style="background-color: #6351ce;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/starkdigitallabs" >
              <i class="fa fa-facebook text-white  mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/MahezStark">
              <i class="fa fa-twitter text-white  mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="mailto:mbkmahesh1996@gmail.com">
              <i class="fa fa-google-plus text-white  mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/maheshstark/">
              <i class="fa fa-linkedin text-white  mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/maheshbstark/">
              <i class="fa fa-instagram text-white "> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 ">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold text-white">Stark digital Labs</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #f2ebeb;">
          <p class="text-white">Stark Digital Labs provide all kind of e-commerce software solutions, 
            Facebook marketing, Web development, Mobile application development to best rate.
            </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #f2ebeb;">
          <p>
            <a href="#!" class="text-white">Business Websites</a>
          </p>
          <p>
            <a href="#!" class="text-white">E-commerce Websites</a>
          </p>
          <p>
            <a href="#!" class="text-white">Social Media Marketing</a>
          </p>
          <p>
            <a href="#!" class="text-white">Mobile Application</a>
          </p>
          <p>
            <a href="#!" class="text-white">Other Web Solutions</a>
          </p>
          <p>
            <a href="#!" class="text-white">RESTfull Services</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Technologies We Use</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #f2ebeb;">
          <p>
            <a href="https://www.facebook.com/starkdigitallabs" class="text-white">Angular</a>
          </p>
          <p>
            <a href="https://www.facebook.com/starkdigitallabs" class="text-white">Java Spring Boot API</a>
          </p>
          <p>
            <a href="https://www.facebook.com/starkdigitallabs" class="text-white">Node Js API (Express JS) </a>
          </p>
          <p>
            <a href="https://www.facebook.com/starkdigitallabs" class="text-white">Vanila JS</a>
          </p>
          <p>
            <a href="https://www.facebook.com/starkdigitallabs" class="text-white">PHP</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #f2ebeb;">
          <p>
          <p class="text-white">
            <i class="fa fa-envelope mr-3"></i> starkdigitallabs@gmail.com</p>
          <p class="text-white">
            <i class="fa fa-phone mr-3"></i> +94 71 897 4110</p>
          <p class="text-white">
            <i class="fa fa-phone mr-3" ></i> + 94 76 886 7959</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white bg-info">© 2020 Copyright:
      <a class="text-warning" href="https://www.facebook.com/starkdigitallabs"> Stark Digital Labs</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->